{% extends "base.html" %}

{% block body %}
<h1>Create a New Blog Post</h1>

<form method="POST">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" required>
  </div>

  <div class="mb-3">
    <label for="des" class="form-label">Description</label>
    <textarea class="form-control" name="des" rows="5" required></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Post Blog</button>
</form>
{% endblock %}
