{% extends "base.html" %}

{% block body %}
  <h1>All Blogs</h1>
  {% for blog in blogs %}
    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title">{{ blog.title }}</h2>
        <p class="card-text">{{ blog.des }}</p>
        <small class="text-muted">Posted on {{ blog.date_create.strftime('%Y-%m-%d %H:%M:%S') }}</small>
      </div>
    </div>
  {% else %}
    <p>No blogs yet. <a href="/create_blog">Create one!</a></p>
  {% endfor %}
{% endblock %}
